# Data Preprocessing:

In [1]:
import pandas as pd

anime_df = pd.read_csv('anime.csv')
display(anime_df.head())

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [2]:
print("Missing values count per column:")
print(anime_df.isnull().sum())

print("\nMissing values percentage per column:")
print((anime_df.isnull().sum() / len(anime_df)) * 100)

Missing values count per column:
anime_id      0
name          0
genre        62
type         25
episodes      0
rating      230
members       0
dtype: int64

Missing values percentage per column:
anime_id    0.000000
name        0.000000
genre       0.504311
type        0.203351
episodes    0.000000
rating      1.870831
members     0.000000
dtype: float64

In [3]:
anime_df['rating'].fillna(anime_df['rating'].mean(), inplace=True)
print("Missing values in 'rating' column after imputation:")
print(anime_df['rating'].isnull().sum())

Missing values in 'rating' column after imputation:
0

In [4]:
anime_df['genre'].fillna('Unknown', inplace=True)
print("Missing values in 'genre' column after imputation:")
print(anime_df['genre'].isnull().sum())

Missing values in 'genre' column after imputation:
0

In [5]:
anime_df['type'] = anime_df['type'].fillna(anime_df['type'].mode()[0])
print("Missing values in 'type' column after imputation:")
print(anime_df['type'].isnull().sum())

Missing values in 'type' column after imputation:
0

In [6]:
anime_df['episodes'] = anime_df['episodes'].fillna(anime_df['episodes'].mode()[0])
print("Missing values in 'episodes' column after imputation:")
print(anime_df['episodes'].isnull().sum())

Missing values in 'episodes' column after imputation:
0

In [7]:
print("Missing values after handling all columns:")
print(anime_df.isnull().sum())

Missing values after handling all columns:
anime_id    0
name        0
genre       0
type        0
episodes    0
rating      0
members     0
dtype: int64

In [8]:
print("First 5 rows of the DataFrame:")
display(anime_df.head())

First 5 rows of the DataFrame:

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [9]:
print("DataFrame Information:")
anime_df.info()

DataFrame Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  12294 non-null  int64
 1   name      12294 non-null  object
 2   genre     12294 non-null  object
 3   type      12294 non-null  object
 4   episodes  12294 non-null  object
 5   rating    12294 non-null  float64
 6   members   12294 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 672.5+ KB

In [10]:
print("Descriptive statistics for numerical columns:")
display(anime_df.describe())

Descriptive statistics for numerical columns:

           anime_id        rating       members
count  12294.000000  12294.000000  1.229400e+04
mean   14058.221653      6.473902  1.807134e+04
std    11455.294701      1.017096  5.482068e+04
min        1.000000      1.670000  5.000000e+00
25%     3484.250000      5.900000  2.250000e+02
50%    10260.500000      6.550000  1.550000e+03
75%    24794.500000      7.170000  9.437000e+03
max    34527.000000     10.000000  1.013917e+06

In [11]:
print("Unique values and their counts for 'type' column:")
display(anime_df['type'].value_counts())

Unique values and their counts for 'type' column:

TV         3812
OVA        3311
Movie      2348
Special    1676
ONA         659
Music       488
Name: type, dtype: int64

# Feature Extraction:

In [12]:
features_df = anime_df[['genre', 'rating']]
print("First 5 rows of the features_df DataFrame:")
display(features_df.head())

First 5 rows of the features_df DataFrame:

                                               genre  rating
0               Drama, Romance, School, Supernatural    9.37
1  Action, Adventure, Drama, Fantasy, Magic, Mili...    9.26
2  Action, Comedy, Historical, Parody, Samurai, S...    9.25
3                                   Sci-Fi, Thriller    9.17
4  Action, Comedy, Historical, Parody, Samurai, S...    9.16

In [13]:
from sklearn.feature_extraction.text import CountVectorizer
print("CountVectorizer imported successfully.")

CountVectorizer imported successfully.

In [14]:
vectorizer = CountVectorizer()
genre_matrix = vectorizer.fit_transform(features_df['genre'].fillna(''))

genre_df = pd.DataFrame(genre_matrix.toarray(), columns=vectorizer.get_feature_names_out())

features_df = pd.concat([features_df.drop('genre', axis=1), genre_df], axis=1)
print("First 5 rows of features_df after genre encoding:")
display(features_df.head())

First 5 rows of features_df after genre encoding:

,rating,action,adventure,ai,arts,cars,comedy,dementia,demons,drama,...,slice,space,sports,super,supernatural,thriller,unknown,vampire,yaoi,yuri
0,9.37,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
1,9.26,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,9.25,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9.17,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,9.16,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
type_dummies = pd.get_dummies(anime_df['type'], prefix='type', dtype=int)
features_df = pd.concat([features_df, type_dummies], axis=1)

print("First 5 rows of features_df after type encoding:")
display(features_df.head())

First 5 rows of features_df after type encoding:

,rating,action,adventure,ai,arts,cars,comedy,dementia,demons,drama,...,unknown,vampire,yaoi,yuri,type_Movie,type_Music,type_ONA,type_OVA,type_Special,type_TV
0,9.37,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
1,9.26,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
2,9.25,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,9.17,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,9.16,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [16]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
features_df['rating'] = scaler.fit_transform(features_df[['rating']])

print("First 5 rows of features_df after scaling 'rating' column:")
display(features_df.head())

First 5 rows of features_df after scaling 'rating' column:

,rating,action,adventure,ai,arts,cars,comedy,dementia,demons,drama,...,unknown,vampire,yaoi,yuri,type_Movie,type_Music,type_ONA,type_OVA,type_Special,type_TV
0,0.924370,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
1,0.911164,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
2,0.909964,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0.900360,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0.899160,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1

# Recommendation System:

In [17]:
from sklearn.metrics.pairwise import cosine_similarity
print("cosine_similarity imported successfully.")

cosine_similarity imported successfully.

In [18]:
cosine_sim = cosine_similarity(features_df)
print("Cosine similarity matrix calculated successfully.")

Cosine similarity matrix calculated successfully.

In [19]:
print("Shape of the cosine similarity matrix:", cosine_sim.shape)

Shape of the cosine similarity matrix: (12294, 12294)

In [20]:
def recommend_anime(anime_id, cosine_sim, anime_df, N=10):
    # Get the index of the anime that matches the anime_id
    idx = anime_df[anime_df['anime_id'] == anime_id].index[0]

    # Get the similarity scores for that anime
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the anime based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the N most similar anime (excluding itself)
    sim_scores = sim_scores[1:N+1]

    # Get the anime indices
    anime_indices = [i[0] for i in sim_scores]

    # Return the top N most similar anime
    return anime_df.iloc[anime_indices]

print("recommend_anime function defined successfully.")

recommend_anime function defined successfully.

In [21]:
sample_anime_id = anime_df['anime_id'].iloc[0] # Using the first anime in the dataframe as an example
print(f"Recommendations for anime_id {sample_anime_id} ({anime_df[anime_df['anime_id'] == sample_anime_id]['name'].iloc[0]}):")
recommendations = recommend_anime(sample_anime_id, cosine_sim, anime_df)
display(recommendations)

Recommendations for anime_id 32281 (Kimi no Na wa.):

,anime_id,name,genre,type,episodes,rating,members
1111,14669,Aura: Maryuuin Kouga Saigo no Tatakai,"Comedy, Drama, Romance, School, Supernatural",Movie,1,7.670000,22599
208,28725,Kokoro ga Sakebitagatterunda.,"Drama, Romance, School",Movie,1,8.320000,59652
1494,20903,Harmonie,"Drama, School, Supernatural",Movie,1,7.520000,29029
1959,713,Air Movie,"Drama, Romance, Supernatural",Movie,1,7.390000,44179
60,10408,Hotarubi no Mori e,"Drama, Romance, Shoujo, Supernatural",Movie,1,8.610000,197439
1199,6408,&quot;Bungaku Shoujo&quot; Movie,"Drama, Mystery, Romance, School",Movie,1,7.630000,40984
2103,1723,Clannad Movie,"Drama, Fantasy, Romance, School",Movie,1,7.350000,99506
11082,33036,Suki ni Naru Sono Shunkan wo.: Kokuhaku Jikkou...,"Comedy, Drama, Romance, School",Movie,1,6.473902,10668
5805,547,Wind: A Breath of Heart OVA,"Drama, Romance, School, Supernatural",OVA,3,6.350000,2043
894,10389,Momo e no Tegami,"Drama, Supernatural",Movie,1,7.780000,30519

In [22]:
target_anime_id = anime_df['anime_id'].iloc[0] # Example: Kimi no Na wa.
target_anime_idx = anime_df[anime_df['anime_id'] == target_anime_id].index[0]

print(f"Target Anime ID: {target_anime_id}")
print(f"Target Anime Index: {target_anime_idx}")

Target Anime ID: 32281
Target Anime Index: 0

In [23]:
target_sim_scores = list(enumerate(cosine_sim[target_anime_idx]))
print("Extracted similarity scores for the target anime.")

Extracted similarity scores for the target anime.

In [24]:
sorted_sim_scores = sorted(target_sim_scores, key=lambda x: x[1], reverse=True)

# Experiment with a threshold (e.g., 0.7)
threshold = 0.7

# Filter recommendations based on the threshold, excluding the target anime itself
filtered_recommendations = [
    (idx, score) for idx, score in sorted_sim_scores 
    if score >= threshold and idx != target_anime_idx
]

print(f"Number of recommendations with similarity score >= {threshold}: {len(filtered_recommendations)}")
print("First 5 filtered similarity scores:")
print(filtered_recommendations[:5])

Number of recommendations with similarity score >= 0.7: 55
First 5 filtered similarity scores:
[(1111, 0.9171375481038241), (208, 0.9093124159019615), (1494, 0.9064711070578456), (1959, 0.9058460727108747), (60, 0.8261772427617735)]

In [25]:
recommended_anime_indices = [idx for idx, _ in filtered_recommendations]
final_recommendations = anime_df.iloc[recommended_anime_indices]

print(f"Recommendations for '{anime_df.loc[target_anime_idx, 'name']}' with similarity score >= {threshold}:")
display(final_recommendations)

Recommendations for 'Kimi no Na wa.' with similarity score >= 0.7:

,anime_id,name,genre,type,episodes,rating,members
1111,14669,Aura: Maryuuin Kouga Saigo no Tatakai,"Comedy, Drama, Romance, School, Supernatural",Movie,1,7.670000,22599
208,28725,Kokoro ga Sakebitagatterunda.,"Drama, Romance, School",Movie,1,8.320000,59652
1494,20903,Harmonie,"Drama, School, Supernatural",Movie,1,7.520000,29029
1959,713,Air Movie,"Drama, Romance, Supernatural",Movie,1,7.390000,44179
60,10408,Hotarubi no Mori e,"Drama, Romance, Shoujo, Supernatural",Movie,1,8.610000,197439
1199,6408,&quot;Bungaku Shoujo&quot; Movie,"Drama, Mystery, Romance, School",Movie,1,7.630000,40984
2103,1723,Clannad Movie,"Drama, Fantasy, Romance, School",Movie,1,7.350000,99506
11082,33036,Suki ni Naru Sono Shunkan wo.: Kokuhaku Jikkou...,"Comedy, Drama, Romance, School",Movie,1,6.473902,10668
5805,547,Wind: A Breath of Heart OVA,"Drama, Romance, School, Supernatural",OVA,3,6.350000,2043
894,10389,Momo e no Tegami,"Drama, Supernatural",Movie,1,7.780000,30519
6394,546,Wind: A Breath of Heart (TV),"Drama, Romance, School, Supernatural",TV,13,6.140000,7778
1697,31245,Zutto Mae kara Suki deshita.: Kokuhaku Jikkou ...,"Romance, School",Movie,1,7.470000,35058
5697,13175,Shiranpuri (Movie),"Drama, School",Movie,1,6.380000,3104
6119,7510,Shisha no Sho,"Drama, Supernatural",Movie,1,6.250000,722
10123,29637,Samurai,"Drama, Romance",Movie,1,3.580000,111
3544,313,Ace wo Nerae! (1979),"Drama, Romance, School, Shoujo, Sports",Movie,1,6.950000,1564
5796,30585,Taifuu no Noruda,"Drama, School, Sci-Fi, Supernatural",Movie,1,6.350000,14281
11,28851,Koe no Katachi,"Drama, School, Shounen",Movie,1,9.050000,102733
15,199,Sen to Chihiro no Kamikakushi,"Adventure, Drama, Supernatural",Movie,1,8.930000,466254
265,16662,Kaze Tachinu,"Drama, Historical, Romance",Movie,1,8.240000,75359
504,6351,"Clannad: After Story - Mou Hitotsu no Sekai, K...","Drama, Romance, School",Special,1,8.020000,138364
1201,10067,Angel Beats!: Another Epilogue,"Drama, School, Supernatural",Special,1,7.630000,134180
1435,2129,True Tears,"Drama, Romance, School",TV,13,7.550000,118644
1436,8481,&quot;Bungaku Shoujo&quot; Memoire,"Drama, Romance, School",OVA,3,7.540000,18013
1595,2460,Maison Ikkoku: Kanketsu-hen,"Comedy, Drama, Romance",Movie,1,7.490000,3109
45,4282,Kara no Kyoukai 5: Mujun Rasen,"Action, Drama, Mystery, Romance, Supernatural,...",Movie,1,8.680000,111074
1631,2927,Kimikiss Pure Rouge,"Drama, Romance, School",TV,24,7.480000,58211
1907,2926,Myself; Yourself,"Drama, Romance, School",TV,13,7.410000,115075
2280,3186,Sekai Meisaku Douwa: Hakuchou no Mizuumi,"Drama, Fantasy, Romance",Movie,1,7.310000,1705
2300,12175,Koi to Senkyo to Chocolate,"Drama, Romance, School",TV,12,7.300000,91552
2381,23987,Sarusuberi: Miss Hokusai,"Drama, Historical, Supernatural",Movie,1,7.280000,7034
3006,20969,Tezuka Osamu no Buddha: Owarinaki Tabi,"Drama, Historical, Supernatural",Movie,1,7.110000,1468
3117,2491,Touch: Sebangou no Nai Ace,"Drama, Romance, Sports",Movie,1,7.080000,1109
3297,18045,Koi to Senkyo to Chocolate Special,"Drama, Romance, School",Special,1,7.030000,15430
3391,2029,Sirius no Densetsu,"Drama, Fantasy, Romance",Movie,1,7.010000,2007
3394,2493,Touch 3: Kimi ga Toorisugita Ato ni - Don&#039...,"Drama, School, Sports",Movie,1,7.010000,1032
9348,26043,Kurumiwari Ningyou (2014),"Drama, Fantasy, Romance",Movie,1,7.000000,136
3458,2492,Touch 2: Sayonara no Okurimono,"Drama, Romance, Sports",Movie,1,6.990000,1076
3530,9988,Otome wa Boku ni Koishiteru: Futari no Elder,"Drama, Romance, School",OVA,3,6.960000,10579
3908,18053,Koi to Senkyo to Chocolate: Ikenai Hazuki-sensei,"Drama, Romance, School",Special,1,6.850000,3526
3914,17585,Myself ; Yourself Specials,"Drama, Romance, School",Special,2,6.850000,4128
4048,1497,Aru Machi Kado no Monogatari,"Drama, Music, Romance",Movie,1,6.810000,1724
878,2787,Shakugan no Shana II (Second),"Action, Drama, Fantasy, Romance, School, Super...",TV,24,7.790000,184525
4448,3488,Genji Monogatari,"Drama, Historical, Romance",Movie,1,6.720000,2773
4514,2105,Touka Gettan,"Drama, Romance, Supernatural",TV,26,6.710000,13921
986,355,Shakugan no Shana,"Action, Drama, Fantasy, Romance, School, Super...",TV,24,7.740000,297058
8656,9351,Geunyeoneun Yeppeotda,"Comedy, Drama, Romance",Movie,1,6.650000,141
4858,10723,Sojunghan Nal-ui Kkum,"Comedy, Drama, Romance",Movie,1,6.620000,904
4896,7578,Gokinjo Monogatari the Movie,"Comedy, Drama, Romance",Movie,1,6.600000,1343
5031,1039,Mizuiro (2003),"Drama, Romance, Supernatural",OVA,2,6.570000,2325
5127,1607,Venus Versus Virus,"Drama, Romance, Supernatural",TV,12,6.550000,20883
1389,34136,Orange: Mirai,"Drama, Romance, School, Sci-Fi, Shoujo",Movie,1,7.560000,29969
5139,2071,Hana yori Dango (Movie),"Drama, Romance, Shoujo",Movie,1,6.540000,4576
5233,1624,To Heart 2 Special,"Drama, Romance, School",Special,1,6.520000,2599
1604,6572,Shakugan no Shana S,"Action, Drama, Fantasy, Romance, School, Super...",OVA,4,7.490000,53129

# Interview Questions:

In [26]:
#  1. What is Collaborative Filtering and How Does It Work?

#Collaborative Filtering (CF) is a technique used by recommendation engines (like Netflix, Spotify, or Amazon) to predict what a user might like based on the preferences of many users.

#The core philosophy is: "If Person A and Person B agree on one issue, they are likely to agree on others."
#How It Works:

#Unlike Content-Based Filtering, which looks at the features of an item (e.g., "this movie is a Western"), Collaborative Filtering doesn't need to know anything about the items themselves. It only looks at the user-item interactions, such as:

 #   Ratings (1-5 stars)

  #  Clicks or Views

   # Purchases

#It creates a User-Item Matrix where rows represent users and columns represent items. Most cells are empty (since no one buys everything), and the algorithm’s job is to fill in those blanks using mathematical similarity.

In [27]:
#2. User-Based vs. Item-Based Collaborative Filtering

#While both methods use the same underlying data, they approach the "similarity" calculation from different angles.
#User-Based Collaborative Filtering

#This method finds users who are similar to you and recommends items they liked that you haven't seen yet.

#    The Logic: "Users who are like you also bought..."
#
#    The Process: 1. Look at User A’s history.
 #   2. Find "neighbors" (User B, C, D) who have high correlation in their ratings.
  #  3. Recommend items that those neighbors rated highly but User A hasn't interacted with.

#Item-Based Collaborative Filtering

#Instead of looking for similar people, this looks for items that are frequently liked by the same group of people.

 #   The Logic: "Users who liked this item also liked..."

  #  The Process:

   #     Look at Item X (which the user just liked).

    #    Find other items (Item Y, Z) that have similar rating patterns across the entire database.

     #   Recommend those similar items